@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);

:root {
    --darkGray: #2d3748;
    --gray: #4a5568;
    --grayLight: #f7fafc;
    --primary: #6b46c1;
  }

header{
    padding:1rem;
}

.container {
    max-width: 1440px;
    margin: auto;
  }

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.navbar {
  background: white;
  height: 85px;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.navbar > h1 {
  font-size: 28px;
  font-weight: 900;
}

.navbar-form-search {
  height: fit-content;
  outline: none;
  border: none;
  border-bottom: 1px solid #2d3748;
  width: 50&;
  padding: 12px 20px;

}

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination{
  display:flex;
  margin:10px 30px;
  align-items: center;
  justify-content: center;
  color:rgb(0, 0, 0);
}